/* Class selectors */
.comment-heading {
    margin-top: 20px;
    color: var(--orange);
}

.comment-form-margin {
    margin: 0 20px;
}

.comment-section {
    padding: 20px;
}

.comment-author-createdat {
    color: var(--light-colour);
    font-size: 20px;
}

.comment-text {
    color: var(--light-colour);
}

.comment-border {
    padding: 15px 0;
    border-top: solid 2px var(--light-colour);
    border-bottom: solid 2px var(--light-colour);
}
button.add-comment-btn-style {
    margin: 10px 0;
    padding: 10px;
    background-color: var(--dark-red);
    color: var(--light-colour);
    border-radius: 0 !important;
    border: none;
    width: 40%;
    font-size: 18px;
    font-family: var(--body-font);
}

a.comment-author-style {
    color: var(--orange);
    font-weight: bolder;
    text-decoration: none;
}

.comment-card-header {
    margin-top: 10px;
}

.comment-card-body {
    margin-top: 10px;
}

button.remove-comment-btn-style {
    color: var(--orange);
    font-weight: bolder;
    border: none;
}

/* Pseudo selectors */
a.comment-author-style:hover {
    color: var(--green);
}

button.remove-comment-btn-style:hover {
    color: var(--green);
    border: none;
    box-shadow: none;
}