/* Main colours, formatting and styling repeated through main sections of the application */
:root {
    --dark-colour: #1A180F;
    --light-colour: #F5EAE0;
    --orange: #E2711D;
    --dark-red: #8C1C18;
    --green: #50723C;
    --heading-font: 'Unica One', cursive; 
    --body-font: 'Poppins', sans-serif;
}

/* Highlight colour */
::selection {
    background-color: var(--dark-red);
    color: var(--light-colour);
}

/* Element selectors across application */
main {
    margin: 40px;
}

body {
    background-color: var(--dark-colour) !important;
}

p {
    font-family: var(--body-font);
}

/* Element selectors */

h2 {
    color: var(--orange);
    font-family: var(--heading-font);
    font-size: 50px !important;
}

h3 {
    color: var(--green);
    font-family: var(--heading-font);
    font-size: 35px !important;
}

/* Profile styling */
/* Class selectors */
.profile-details {
    font-size: 20px;
    color: var(--light-colour);
}


/* Media queries for responsive web application for phones and tablets */
@media screen and (max-width: 991px) {
    .column-style {
        flex-direction: column;
    }
}