/* Main colours, formatting and styling repeated through main sections of the application */
:root {
    --dark-colour: #1A180F;
    --light-colour: #F5EAE0;
    --orange: #E2711D;
    --dark-red: #8C1C18;
    --green: #50723C;
    --heading-font: 'Unica One', cursive; 
    --body-font: 'Poppins', sans-serif;
}

/* Highlight colour */
::selection {
    background-color: var(--dark-red);
    color: var(--light-colour);
}

/* Element selectors across application */
main {
    margin: 40px;
}

body {
    background-color: var(--dark-colour) !important;
}

p {
    font-family: var(--body-font);
}

h2 {
    color: var(--orange);
    font-family: var(--heading-font);
    font-size: 50px !important;
}

h3 {
    color: var(--green);
    font-family: var(--heading-font);
    font-size: 35px !important;
}

footer {
    background-color: var(--dark-colour);
    color: var(--light-colour)
}

/* Form styling */
/* Element selectors */
label {
    color: var(--light-colour);
    font-size: 25px;
}

/* Class selectors */
textarea.form-input-style {
    background-color: var(--light-colour);
    color: var(--dark-colour);
    font-family: var(--body-font);
    border-radius: 0%;
    border: none;
    font-size: 18px;
}

input.form-input-style {
    background-color: var(--light-colour);
    color: var(--dark-colour);
    font-family: var(--body-font);
    border-radius: 0%;
    border: none;
    font-size: 18px;
}

.form-input-margin {
    margin: 10px;
}

.login-signup-form-style {
    margin: 10px 200px;
}

button.login-signup-btn-style {
    margin-top: 10px;
    padding: 10px;
    background-color: var(--dark-red);
    color: var(--light-colour);
    border-radius: 0 !important;
    border: none;
    width: 100%;
    font-size: 18px;
    font-family: var(--body-font);
}

.error-message {
    color: var(--light-colour);
    font-size: 20px;
}

.success-message {
    color: var(--light-colour);
    font-size: 20px;
};

a.login-signup-link {
    color: var(--orange);
    text-decoration: none;
    font-weight: bolder;
}

.loading-text {
    color: var(--light-colour);
    font-size: 20px;
}

p.no-data {
    color: var(--light-colour);
}

/* Pseudo styling */
textarea.form-input-style:focus {
    background-color: var(--light-colour);
    box-shadow: none;
    border: none;
}

input.form-input-style:focus {
    background-color: var(--light-colour);
    box-shadow: none;
    border: none;
}

button.login-signup-btn-style:hover {
    background-color: var(--green);
    color: var(--light-colour);
}

a.login-signup-link:hover {
    color: var(--green);
}

/* Profile styling */
/* Class selectors */
.profile-details {
    font-size: 20px;
    color: var(--light-colour);
}

a.profile-email-link {
    font-size: 20px;
    text-decoration: none;
    color: var(--orange);
    font-weight: bolder;
}

/* Pseudo selectors */
a.profile-email-link:hover {
    color: var(--green);
}


/* Media queries for responsive web application for phones and tablets */
@media screen and (max-width: 991px) {
    .column-style {
        flex-direction: column;
    }

    .login-signup-form-style {
        margin: 10px;
    }
}